# Binaries
**/bin/
bin-int/

# Engine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# ImGui files
**/imgui.ini

# Directories
scripts/__pycache__